version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: ecommerce-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ecommerce
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  auth-service:
    build: ./AuthService/auth-service
    container_name: auth-service
    ports:
      - "3001:3000"
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/ecommerce
    depends_on:
      - postgres

  order-service:
    build: ./OrderService
    container_name: order-service
    ports:
      - "3002:3000"
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/ecommerce
    depends_on:
      - postgres

  product-service:
    build: ./ProductService
    container_name: product-service
    ports:
      - "3003:3000"
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/ecommerce
    depends_on:
      - postgres

  cart-service:
    build: ./CartService
    container_name: cart-service
    ports:
      - "3004:3000"
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/ecommerce
    depends_on:
      - postgres

  pgadmin:
      image: dpage/pgadmin4
      container_name: pgadmin
      restart: always
      environment:
        PGADMIN_DEFAULT_EMAIL: admin@admin.com
        PGADMIN_DEFAULT_PASSWORD: admin
      ports:
        - "5050:80"
      depends_on:
        - postgres
      volumes:
        - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  pgadmin_data:
